html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
.button--primary {
  font-weight: 700;
  background-color: #f53838;
  color: white;
}
.button--outline {
  background-color: transparent;
  color: #f53838;
  font-weight: 500;
  border: 1px solid;
}
.button--outline:hover {
  background-color: #f53838;
  color: #fff;
  font-weight: 500;
  border: 1px solid;
  transition: all 0.3s ease-in-out;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}
.button--rounded:hover {
  background-color: #dc1a1a;
  transition: all 0.3s ease-in-out;
}
.button--shadow {
  position: relative;
}
.button--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, 50%);
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: inherit;
}

.button:hover {
  position: relative;
}
.button:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, 50%);
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: inherit;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 13px 26px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.header__navigate {
  display: flex;
  flex-direction: row;
  gap: 0 40px;
  font-weight: normal;
  font-size: 16px;
  color: #4f5665;
}
.header .menu__item {
  color: #4f5665;
}
.header .menu__item:hover {
  color: #f53838;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header__auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 30px;
}
.header__auth .header_signin {
  font-weight: 400;
  color: #0b132a;
}

.hero__banner {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 7%;
}
.hero__banner--content {
  width: 100%;
  max-width: 555px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hero__banner--content .title {
  font-size: 50px;
  color: #0b132a;
  line-height: 1.4;
}
.hero__banner--content .desc {
  font-size: 16px;
  color: #4f5665;
  line-height: 2;
}
.hero__banner__image {
  max-width: 612px;
  position: absolute;
  top: 45%;
  transform: translate(-40px, -50%);
  right: 0;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px 0;
  margin: 50px auto;
}
.intro--item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  padding: 20px 0;
  width: 100%;
}
.intro--item .intro__icon {
  width: 55px;
  height: 55px;
}
.intro--item .intro__info .intro--title {
  font-weight: bold;
  font-size: 25px;
  color: #0b132a;
  padding-bottom: 10px;
}
.intro--item .intro__info .intro--text {
  font-size: 20px;
  color: #4f5665;
}
.intro--item:not(:last-child) {
  border-right: 1px solid #eeeff2;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16%;
  padding: 30px 0;
}
.feature__image {
  max-width: 500px;
}
.feature__content {
  width: 100%;
  max-width: 380px;
}
.feature--heading {
  font-size: 35px;
  font-weight: normal;
  color: #0b132a;
  line-height: 1.5;
}
.feature--desc {
  color: #4f5665;
  line-height: 1.5;
  padding: 24px 0;
}
.feature--details {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.feature--details .feature__item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.feature--details .feature__item .icon--checked {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2fab73;
  border-radius: 100%;
  color: #ffffff;
}
.feature--details .feature__item .icon--text {
  font-size: 14px;
  color: #4f5665;
}

.plan__container {
  padding: 30px 0;
  background-color: #f6f6f6;
}
.plan__container .plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan__container .plan__heading {
  color: #0b132a;
  font-size: 35px;
  font-weight: normal;
  padding: 20px 0;
}
.plan__container .plan__desc {
  width: 100%;
  max-width: 555px;
  color: #4f5665;
  line-height: 1.5;
  text-align: center;
}
.plan__container .plan__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  padding: 30px 0;
}
.plan__container .plan__card .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  padding: 70px 70px 50px 70px;
  border: 2px solid #ddd;
}
.plan__container .plan__card .card__item .plan__title {
  color: #0b132a;
  font-size: 18px;
  padding: 30px 0;
}
.plan__container .plan__card .card__item .plan__details {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  flex: 1;
}
.plan__container .plan__card .card__item .plan__details .plan__text {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
}
.plan__container .plan__card .card__item .plan__details .plan__text > span {
  color: teal;
}
.plan__container .plan__card .card__item .plan__icon {
  max-width: 145px;
}
.plan__container .plan__card .card__item .plan__select {
  text-align: center;
  padding-top: 30px;
}
.plan__container .plan__card .card__item .plan__select .text {
  color: #0b132a;
  padding-bottom: 20px;
}
.plan__container .plan__card .card__item:hover {
  border: 2px solid #f53838;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=app.css.map */
