.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    &__navigate {
        display: flex;
        flex-direction: row;
        gap: 0 40px;
        font-weight: normal;
        font-size: 16px;
        color: $text-color;
    }

    .menu__item:hover {
        color: $primary-color;
        transition: 0.3 ease-in;
        cursor: pointer;
    }

    &__auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 30px;

        .header_signin {
            font-weight: 400;
            color: $heading-color;
        }
    }
}