.hero__banner {
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 40px;

    &--content {
        width: 100%;
        max-width: 555px;

        .title {
            font-size: 50px;
            color: $heading-color;
            line-height: calc(70 / 50);
        }

        .desc {
            font-size: 16px;
            color: $text-color;
            padding-bottom: 30px;
        }
    }

    &__image {
        max-width: 612px;
        position: absolute;
        top: 45%;
        transform: translate(-40px, -50%);
        right: 0;
    }
}
