.hero__banner {
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 7%;

    &__content {
        width: 100%;
        max-width: 555px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .title {
            font-size: 50px;
            color: $heading-color;
            line-height: calc(70 / 50);
        }

        .desc {
            font-size: 16px;
            color: $text-color;
            line-height: calc(100/50);
        }
    }

    &__image {
        max-width: 612px;
        position: absolute;
        top: 45%;
        transform: translate(-40px, -50%);
        right: 0;
    }
}
