$font: "Rubik", sans-serif;
$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #f53838;
$primary-color-hover: #dc1a1a;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;
$transition-delay: all 0.3s ease-in-out;